/* Table spacing and border */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid black;
}

thead th:nth-child(1) {
  width: 35%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

tbody th,
thead th:nth-child(1) {
  text-align: left;
}

tbody td:nth-child(2),
thead th:nth-child(2) {
  text-align: right;
}

tbody td:nth-child(3),
thead th:nth-child(3) {
  text-align: right;
}

tbody td:nth-child(4),
thead th:nth-child(4) {
  text-align: left;
}

th,
td {
  padding: 10px;
}

tfoot {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #d3d3d3;
}
